:root {
    --main-font: Verdana, Geneva, Tahoma, sans-serif;
}


body {
    font-family: var(--main-font);
}

aside {
    background-color: #F8F6F4;
}

.profile-img {
    border-radius: 50%;
}

/*Navbar section*/

nav {
    margin: 1rem auto;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav a {
    padding: 0.5rem 1rem;
    display: block;
}

/*Footer section*/
footer li {
    list-style-type: none;
}


/*Layout controls*/

/*Mobile sizes*/
@media (min-width: 600px) {

}

@media (min-width: 100px) {
    
}
