aside {
    background-color: #F8F6F4;
}

.profile-img {
    border-radius: 50%;
}

.right-social-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;

}

