aside {
    background-color: #F8F6F4;
}

.profile-img {
    border-radius: 50%;
}

/*Navbar section*/

nav {
    width: 50%;
    margin: 1rem auto;
    border:solid grey 0.1rem;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


nav li:hover {
    background-color: grey;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
}
nav a:focus {
    background-color: grey;
}

/*Footer section*/
footer li {
    list-style-type: none;
}

